:root {
    --orange-yellow: #ffc824;
    --french-raspberry: #BA3B46;
    --black: #010001;
    --street-teal: #607B7D;
    --mint-cream: #EFF6EE;
    --border-radius: .3rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to right, var(--orange-yellow), var(--french-raspberry) );
    margin: 0;
    padding: 0;
}

.simple-border {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}

#ingList,
#recipeList{
background-color: var(--mint-cream);
flex-wrap: wrap;
justify-content: center;
}

/* Modal Styling */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
      visibility: hidden;
      backface-visibility: hidden;
    opacity: 0;
    transition: opacity .15s ease-in-out; 
  }

  #randomImg img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    height: 30%;
  }


  h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}


  main {
    margin: 20px auto;
    width: 94%;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  .button-primary {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    transform: translate(-1px, -1px);
  }
  
   .button-primary:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--mint-cream);
  }
  
  .btn-inline {
    display: inline;
  }
  
  .hero {
    padding: 3% 4%;
    background-color: var(--mint-cream);
  }
  
  .hero p {
    max-width: 75%;
  }
  
  .app-title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
  }
  
  .list-group {
    padding: 0;
    list-style: none;
  }
  
  .list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
  }
  
  .list-item:hover {
    background-color: var(--dark);
  }
  


 /* CARDS */
.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }
  
  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
  }
  
  .card-body {
    padding: 2.5%;
  }

/* Mobile first queries */

/* HEIGHT / WIDTH UTILS */
.min-100-vh {
    min-height: 100vh;
  }
  
  .min-100-vw {
    min-width: 100vw;
  }
  
  /* FONT UTILS */
  .text-uppercase {
    text-transform: uppercase;
  }
  
  
  /* FLEX CONTENT */
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .justify-space-around {
    justify-content: space-around;
  }
  
  .justify-flex-start {
    justify-content: flex-start
  }
  
  .justify-flex-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .col-auto {
    flex-grow: 1;
  }
  
  .col-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  
  .col-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  
  .col-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  
  .col-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  
  .col-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  
  .col-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  
  .col-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  
  .col-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  
  .col-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  
  .col-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  
  .col-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  
  .col-12 {
    flex: 0 0 100%;
  }
  
  /* col-sm */
  @media screen and (min-width: 640px) {
    .col-sm-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-sm-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-sm-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-sm-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-sm-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-sm-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-sm-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-sm-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-sm-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-sm-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-sm-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-sm-12 {
      flex: 0 0 100%;
    }
  }
  
  
  /* col-md */
  @media screen and (min-width: 768px) {
    .col-md-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-md-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-md-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-md-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-md-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-md-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-md-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-md-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-md-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-md-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-md-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-md-12 {
      flex: 0 0 100%;
    }
  }
  
  /* col-lg */
  @media screen and (min-width: 992px) {
    .col-lg-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-lg-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-lg-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-lg-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-lg-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-lg-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-lg-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-lg-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-lg-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-lg-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-lg-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-lg-12 {
      flex: 0 0 100%;
    }
  }
  
  /* col-xl */
  @media screen and (min-width: 1200px) {
    .col-xl-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-xl-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-xl-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-xl-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-xl-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-xl-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-xl-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-xl-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-xl-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-xl-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-xl-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-xl-12 {
      flex: 0 0 100%;
    }
  }
  