:root {
    --orange-yellow: #ffc824;
    --french-raspberry: #BA3B46;
    --black: #010001;
    --street-teal: #607B7D;
    --mint-cream: #EFF6EE;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to right, var(--orange-yellow), var(--french-raspberry) );
    margin: 0;
    padding: 0;
}

header h1 {
    display: flex;
    justify-content: center;
    background-color: var(--street-teal);
    margin: 0px;
    padding: 0px;
}

.simple-border {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}

#ingList,
#recipeList{
background-color: var(--mint-cream);
flex-wrap: wrap;
justify-content: center;
}

/* Modal Styling */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
      visibility: hidden;
      backface-visibility: hidden;
    opacity: 0;
    transition: opacity .15s ease-in-out; 
  }

  #randomImg img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    height: 30%;
  }





/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}